/*-- Main Menu Styles--*/
nav ul {
    list-style: none;
    /*padding: 1em;
    /*display: flex;
    /*justify-content: space-evenly; /*space-between;*/
    padding: 0px;
    width: 100%;
    margin: 0px;
  }
li{ 
    display: inline-block;
    padding: 1em 2em 2em 1em;
    float: right;
    
}
li:first-child{
    float:left;
}

nav {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  
  
}

  nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  nav a:hover, nav a:active  {
    color: white;
    text-decoration: underline;
  }
  nav a.active {
    color: #F0F0F0;
  }

  .header-img {
    width: 100%;
    height: 700px;
    background: url(../img/sword_header.jpg);
    background-size: cover;
  }


.header_content{
  box-sizing: content-box;
  position: absolute;
  top: 90%;
  left: 50%;
}

/* Style the button and place it in the middle of the container/image */
.btn {
  position: absolute;
  top: 72%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: 'Josefin Sans', sans-serif;
  background-color: white; /* #555;*/
  color: rgb(14, 69, 14); /*white;*/
  padding: 2rem 6rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
}
.title_descript{
    position: absolute;
    padding: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0px;
    top: 28%;
    left: 50%;
    font-size: 3rem;  
    width: 70%;
    font-family: 'Oswald', sans-serif;
    line-height: 3.5rem;
    font-weight: 300;
    color: white;
    /*background-color: rgba(0, 47, 255, 0.164);*/

  }
.container .btn:hover {
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  }

  /*-- Media Queries --*/
@media screen and (min-width: 550px) {
  .title_descript{width: 5rem;}
}
@media screen and (min-width: 768px) {
  .title_descript{width: 10rem;}
}
@media screen and (min-width: 990px) {
  .title_descript{width: 20rem;
    font-size: 2rem;}
}
@media screen and (min-width: 1280px) {
  .title_descript{width: 30%;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .title_descript{width: 40%;
    font-size: 2rem;}
}
